<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="author" content="{{ site.authorName }}">
  <meta name="description" content="{{ site.description }}">
  <link rel="icon" href="{{ site.favicon }}" type="image/svg+xml">
  <title>{{ site.name }}</title>
  <link rel="stylesheet" href="/assets/css/simple.min.css">
</head>

<body>
  {{ content }}

  {% if path == "home" %}
  <!-- Netlify Identity Widget -->
  <!-- Needed only if you are using Netlify Identity feature -->
  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% endif %}
</body>

</html>